.margin-bottom {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 30px;
}

.-ivemargin-bottom {
  margin-bottom: -50px;
}

.-ivemargin-top {
  margin-top: -30px;
}

.positivemargin {
  background-color: bisque;
}

.negativemargin {
  background-color: aquamarine;
}
.margins {
  background-color: darkolivegreen;
}
